// @import './font.scss';
// @import 'http://localhost:3000/dist/joshua.css';
@import '../../../../../joshua.css/src/joshua.scss';

@import './light-theme.scss';
@import './dark-theme.scss';

$global-anim-tween: cubic-bezier(0, 0, 0.2, 1);

:root body {
    // --color-primary: #2f2230;
    // --bg-color: #f7f7f7;
    --bg-color: #F1FFFF;
    --fore-color: #034F50;

    --blockquote-bg: #CFF5EE;
    --code-mark-bg: #CFF5EE;
    // --color: rgb();
    --color-primary: #034F50;
    --color-lightGrey: #92D1C8;
    --color-grey: #50A5A6;
    --color-darkGrey: #3f4144;
    --color-error: #d43939;
    --color-success: #28bd14;

    transition: background 0.3s $global-anim-tween, color 0.3s $global-anim-tween;

    &.dark {
        --bg-color: #232830;
        --fore-color: #F1FFFF;

        --code-mark-bg: #3f3f3f;
        --color-primary: #fff;
    }
}

$line-height: 24px;

.hljs {
    background: none!important;
    padding: 0!important;
    display: initial!important;
}
#header {
    padding-top: $line-height;
    h1 {
        white-space: nowrap;
        font-size: $line-height * 1.5;
        line-height: 1em;
        margin: 0;
    }
    .tabs {
        font-size: 14px;
    }
    .nav-item { 
        padding-top: 0; 
        padding-bottom: 0;
    }
    .sep {
        user-select: none;
        align-self: center;
        color: var(--color-lightGrey);
    }
    .main-navigation { display: flex; }
}
.blog-index {
    h2 {
        margin-bottom: 0;
    }
    .meta {
        margin-top: 0;
        color: var(--color-grey);
    }
    // .pagination {
    // }
}
.hentry {
    h1 {
        margin-bottom: 0;
    }
    .meta {
        margin-top: 0;
        color: var(--color-grey);
    }
    footer {
        color: var(--color-grey);
        padding-top: $line-height * 2;
    }
}
#category-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    li {
        margin-right: 15px;
    }
}

#blog-archives {
    article {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;

        header {
            margin: 5px 0;
        }
        h4 {
            display: inline;
        }
        time {
            color: var(--color-grey);
        }
        .categories {
            margin-left: 12px;
            a {
                margin-left: 5px;
            }
        }
    }
}

.hentry {
    .meta {
        font-size: 14px;
    }
}
#footer {
    margin: $line-height * 2 0;
}
#side-toc {
    $width: 350px;
    $light-bg-color: #fff;
    $dark-bg-color: var(--code-mark-bg);

    width: $width;
    height: 100vh;
    box-sizing: border-box;
    position: fixed;
    right: 0px;
    top: 0;
    font-size: 14px;
    background: $light-bg-color;
    .dark & { background: $dark-bg-color; }
    padding: 0 20px;
    transition: right 0.2s $global-anim-tween;
    &.toggle {
        right: -($width - 5px);
    }
    .fold {
        position: absolute;
        left: -20px;
        top: 50%;
        width: 25px;
        height: 55px;
        line-height: 55px;
        background: $light-bg-color;
        .dark & { background: $dark-bg-color; }
        text-align: center;
        user-select: none;
        font-size: 20px;
        color: #666;
        cursor: pointer;
    }
    h2 {
        // height: 30px;
        padding: 20px 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
    }
    .close-toc {
        font-size: 20px;
        font-weight: normal;
        cursor: pointer;
        padding: 0 5px;
    }
    #TableOfContents {
        height: calc(100vh - 70px);
        overflow-y: auto;
        ul { padding-left: 1.5em; margin-top: 0; }
        li {
            padding: 2px 0;
            list-style: decimal;
        }
        > ul {
            padding-left: 1.5em;
        }
    }
}